* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin: 2%;

}
h3{color:rgb(12, 88, 44);
    text-align: left;
padding:2%;
font-family:'futurafont';
}

.barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    background-color: #f9a359;
    border: 3px solid #fa7e12;
    margin: 2%;


}

.barra a {
    text-decoration: none;
    color: white;
    font-family: 'futurafont', sans-serif;
    font-size: calc(3vw);
    margin: 20px;

}

.barra a:hover {
    color: aliceblue;
    background-color: #fa7e12;
}

.barra ul {
    display: flex;
    list-style: none;
}
h1{color:rgb(12, 88, 44);
    text-align: center;
padding:2%;
font-family:'futurafont';
}

body {
    background-color: white;
}

header {
    background-color: white;
}

main {
    background-color: white;
}
#caja1{
    grid-area: zona1;
}
#caja2{
    grid-area: zona2;
}
#caja3{
    grid-area: zona3;
}
#caja4{
    grid-area: zona4;
}
#empresarial{
    background-color:rgb(247, 194, 115);
}
#empresarial:hover{
    background-color:rgb(255, 252, 221);
}

#turismo{
    background-color:rgb(250, 235, 97) ;
}
#turismo:hover{
    background-color:rgb(41, 145, 56) ;
}
#aeropuerto{
    background-color:rgb(255, 252, 221);
}
#aeropuerto:hover{
        background-color:rgb(247, 194, 115);
}
#grupal{
    background-color:rgb(191, 248, 200) ;
}
#grupal:hover{
    background-color:rgb(250, 235, 97) ;
}
.contServicios {
    
        display: grid;
        grid-template-areas: "zona1 zona2 zona3 zona4";
        padding: 10px;
        gap: 10px;
 
        background-color: rgb(226, 250, 242);

   
    margin: 0;
    font-family: 'futurafont', sans-serif;
 
   padding: 20px 30px 40px 15px;

}

.contServicios p {
    color: rgb(12, 88, 44);
    text-align: justify;
    padding: 10px 10px;

}

.contServicios h1{
    color: rgb(14, 75, 33);
    text-align:center;
    padding: 5px ;

}

.contServicios h2 {
    color: rgb(12, 88, 44);
    text-align: left;
    padding: px;
}



@font-face {
    font-family: 'futurafont';
    src: url('Fuentes/futuram.ttf');
    font-weight: normal;
    font-style: normal;
}

.piePagina {

    width: 100%;
    border: 3px solid white;
    background-color: #f9a359;
    text-align: center;
    font-size: 2vh;
}


@media only screen and (max-width:600px) {
    body {
        background-color: rgb(13, 110, 26);
        
    }

   
    .contenedorServicios {
        display: grid;
        grid-template-areas: "zona1" "zona2" "zona3" "zona4";

    }
    header{height: 200px;}
}

@media only screen and (min-width:400px) {
    body {
        background-color: rgb(12, 105, 28);
        
    }

    .contenedorServicios {
        display: grid;
        grid-template-areas: "zona1 zona2" "zona3 zona4";

    }
}

@media only screen and (min-width:820px) {
    body {
        background-color: white;

        
    }

    .contenedorServicios {
        display: grid;
        grid-template-areas: "zona1 zona2 zona3 zona4";

    }
}
@media only screen and(orentation:landscape){
    body{
        background-color:rgb(230,204,173);
    }
}