/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fuente personalizada */

.encabezado1 h3{color:rgb(12, 88, 44);
    text-align: left;
    padding:2%;
    font-family:'futurafont';
    }

/* Estilos para todas las imágenes */
img {
    width: 100%;
    margin: 2%;
}


/* Estilos para la barra de navegación */
.barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    background-color: #f9a359;
    border: 3px solid #fa7e12;
    margin: 2%;
}

.barra a {
    text-decoration: none;
    color: white;
    font-family: 'futurafont', sans-serif;
    font-size: calc(3vw);
    margin: 20px;
}

.barra a:hover {
    color: aliceblue;
    background-color: #fa7e12;
}

.barra ul {
    display: flex;
    list-style: none;
    
}

/* Estilos para el cuerpo del documento */
body {
    background-color: white;
}

/* Estilos para el encabezado */
.encabezado {
    background-color: white;
}

/* Estilos para el pie de página */
.piePagina {
    width: 100%;
    border: 3px solid white;
    background-color: #f9a359;
    text-align: center;
    font-size: 2vh;
}

/* Estilos para la sección de descripción */



/* CONTENEDOR DE IMAGENES EN COLUMNA */
.contenedor {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    height: vh; 
    margin-bottom: 30px; 
}


/* Estilos de .caja, .caja img, .caja p y .caja:hover se mantienen iguales */
/* contenedor.css */
.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5%;
    margin-left: 5%; 
    margin-right: 5%; 
    color: #fa7e12;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
}

.seccion:nth-child(1) {
    flex-direction: row; 
}

.caja {
    width: 300px;
    height: 400px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease; 
}

.caja.pequeña {
    width: 500px; 
    height: 200px; 
    margin: 1%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease; 
}

.caja.pequeña img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    border-radius: 10px; 
}


.caja img {
    width: 150%; 
    height: 100%; 
    object-fit: contain;
    border-radius: 10px;
}

.caja:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

.Titulo {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}



/*-----FRANJAS VERDE***/

.franja-naranja {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color:rgb(50, 164, 87) ;
    border: 3px solid rgb(12, 88, 44) ;
    margin: 2%;
}

.franja-naranja h1 {
    font-size: 1.5em;
    margin: 0; 
    text-align: center; 
    color: white;
    font-family: 'futurafont', sans-serif;

}
/*------------------------------------------*/



/**-----FRANJA VERDE NARANJA*/
.franja-naranja2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #f9a359;
    border: 3px solid #fa7e12;
    margin: 2%;
}
/*----------------------------*/


/**-----FRANJA 2 TEXTO NARANJA*/

.franja-naranja2 h1 {
    font-size: 1.5em;
    margin: 0; 
    text-align: center; 
    color: white;
    font-family: 'futurafont', sans-serif;
}
/**-----*----------------*/

/**------BOTONWHATSAPP*/
.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-wsp .icono {
    width: 30px;
    height: 30px;
}

.btn-wsp:hover {
    background-color: #5df093;
    text-decoration: none;
}